* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
#canvas {
  margin: 2em 0 2em;
}
#button {
  margin-bottom: 2em;
}
